<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--设置别名 简写入参和返回参数-->
    <typeAliases>
        <package name="com.yao.crud.bean"/>
    </typeAliases>

    <!-- 把分页注册到mybatis 使用该拦截器首先需要在Mybatis配置中配置该拦截器： -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--分页参数合理化 如果页数<0就会是第一页查询 -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

</configuration>